body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background: black;
}

.content{
    padding: 4rem;
}

.content section{
    border: 2px solid pink;
    margin: 20px 30px;
    padding: 15px 50px;

}
.content section h1{
    color: red;
    margin: 10px 0;
}
.content section p{
    color: #fff;
}
.scroll-indicator{
    
    height: 5px;
    width: calc(100% - 6em);
    position: fixed;
    top: 10px;
    left: 3em;
    border-radius: 3px;
}
.scroll-indicator .progress{
    height: 100%;
    width: 20px;
    border-radius: 3px;
    background: linear-gradient(30deg,#21d4fd,#b721ff);
    transition: width 0.1s;
}